---
import Head from "../components/Head.astro";
import NavBar from "../components/NavBar.astro";
---

<html>
  <Head
    title="404 - auravoid"
    description="A bit of nothing here."
    color="#feb9db"
  />
  <body>
    <NavBar />
    <div class="content__main">
      <h1>404</h1>
      <p>Content not found</p>
      <hr class="content__divider" />
      <p>I think you should consider <a href="/">going home</a>.</p>
    </div>
  </body>
</html>
