---
import AboutBot from "../components/ai-ohto/AboutBot.astro";
import BotHead from "../components/ai-ohto/BotHead.astro";
import BotNav from "../components/ai-ohto/BotNav.astro";
import CommandList from "../components/ai-ohto/CommandList.astro";
import BotFooter from "../components/ai-ohto/BotFooter.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BotHead
      title="Ai Ohto"
      description="Ai Ohto is a Discord bot that is designed to be a fun and useful bot for your server. It has a wide variety of commands, and is constantly being updated with new features."
      color="#ffe009"
      image="https://cdn.auravoid.dev/images/ai-ohto/gifs/002.gif"
    />
  </head>
  <body>
    <div class="content-block">
      <BotNav />
      <AboutBot />
      <CommandList />
      <BotFooter />
    </div>
  </body>
</html>
