---
import BaseHead from "../components/BaseHead.astro";
import AboutBot from "../components/ai-ohto/AboutBot.astro";
import BotHead from "../components/ai-ohto/BotHead.astro";
import BotHeader from "../components/ai-ohto/BotHeader.astro";
import CommandList from "../components/ai-ohto/CommandList.astro";
import BotFooter from "../components/ai-ohto/BotFooter.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BotHead />
    <BaseHead
      title="Ai Ohto"
      description="Ai Ohto is a Discord bot that is designed to be a fun and useful bot for your server. It has a wide variety of commands, and is constantly being updated with new features."
      page="ai-ohto"
      color="#ffe009"
    />
  </head>
  <body>
    <div class="content-block">
      <BotHeader />
      <AboutBot />
      <CommandList />
      <BotFooter />
    </div>
  </body>
</html>
