---
import Head from "../components/Head.astro";
import NavBar from "../components/NavBar.astro";
import SponsorsList from "../components/home/SponsorsList.astro";
---

<html>
  <Head
    title="auravoid"
    description="A simple website. Nothing too special about it."
    color="#feb9db"
  />
  <body>
    <NavBar />
    <div class="content__main">
      <h1>auravoid</h1>
      <p>A simple website. Nothing too special about it.</p>
      <hr class="content__divider" />
      <SponsorsList />
    </div>
  </body>
</html>
