---
import BaseHead from "../components/BaseHead.astro";
import CodingStats from "../components/home/CodingStats.astro";
import SponsorsList from "../components/home/SponsorsList.astro";
import Navigation from "../components/Navigation.astro";
import Particles from "../components/Particles.astro";
---

<style>
  h1 {
    font-size: 2.5rem;
    font-family: "Fira Mono", monospace;
  }

  h2 {
    font-size: 1.25rem;
  }

  body {
    background: var(--brand-background-dark);
    text-align: center;
    color: var(--brand-text);
    font-family: "Fira Mono", monospace;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .about-me {
    padding: 0 5%;
    text-align: left;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .about-me > ul {
    padding: 1% 2%;
  }
</style>

<html lang="en">
  <head>
    <BaseHead
      title="auravoid"
      description="A simple website. Nothing too special about it."
      color="#feb9db"
      page="main"
    />
  </head>
  <body>
    <Particles />
    <div id="home-page">
      <Navigation />
      <div id="text" class="body-box">
        <h1 id="name">auravoid</h1>
        <h2>Hello!! I'm Aura, a nerdy web developer.</h2>
        <hr />
        <div class="about-me">
          <ul>
            <li>Hobbies: Anime, gaming, music</li>
            <li>Pronouns: They/Them</li>
          </ul>
        </div>
        <!-- Section for coding stats -->
        <hr />
        <CodingStats />

        <!-- Section for Github Sponsors -->
        <hr />
        <SponsorsList />

        <hr />
        <div class="profile-icons">
          <a
            aria-label="GitHub Icon"
            href="https://github.com/auravoid"
            target="_blank"
          >
            <i class="fa-brands fa-github"></i>
          </a>
          <a
            aria-label="Discord Icon"
            href="https://discord.gg/uDzYJBHT6P"
            target="_blank"
          >
            <i class="fa-brands fa-discord"></i>
          </a>
          <a
            aria-label="Mastodon"
            href="https://wetdry.world/@aura"
            rel="me"
            target="_blank"
          >
            <i class="fa-brands fa-mastodon"></i>
          </a>
          <a
            aria-label="Twitter Icon"
            href="https://twitter.com/void206551"
            target="_blank"
          >
            <i class="fa-brands fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
