---
import Head from "../components/Head.astro"
import Foot from "../components/Foot.astro"
import NavBar from "../components/NavBar.astro"
const legalPages = await Astro.glob("../pages/legal/*.md")
const aboutPages = await Astro.glob("../pages/about/*.{md,astro}")
---

<style>
	.linklist {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		margin: auto;
	}
	.linklist > p {
		padding: 1.7rem;
		margin: auto;
		font-size: 14px;
	}
</style>

<html lang="en-US">
	<head>
		<Head
			title="Support"
			description="General support and about page."
			color="#feb9db"
		/>
	</head>
	<body>
		<NavBar />
		<div class="content__main">
			<h1>Support</h1>
			<p>Here you can find support links for projects I have created.</p>
			<div id="support-links" class="linklist">
				{
					legalPages.map((page) => (
						<p>
							<a href={page.url}>{page.frontmatter.title}</a>
						</p>
					))
				}
			</div>
			<hr class="content__divider" />
			<h1>About</h1>
			<p>
				Here you can find some things that you'd like to know more
				about.
			</p>
			<div id="about-links" class="linklist">
				{
					aboutPages.map((page) => (
						<p>
							<a href={page.url}>{page.frontmatter.title}</a>
						</p>
					))
				}
			</div>
			<hr class="content__divider" />
			<h1>Contact Me</h1>
			<p>
				Here are the ways you can contact me, if you ever so need to do
				so.
			</p>
			<div id="contact-links" class="linklist">
				<a href="mailto:auravoid@riseup.net" target="_blank"
					>auravoid@riseup.net</a
				>
				<a href="mailto:aura@auravoid.dev" target="_blank"
					>aura@auravoid.dev</a
				>
				<a href="mailto:aura@auravoid.moe" target="_blank"
					>aura@auravoid.moe</a
				>
				<a href="https://discord.com/users/455428041586376729"
					>auravoid#6669</a
				>
			</div>
		</div>
		<Foot />
	</body>
</html>
