---
---

<style>
  #skills__content > h3 {
    margin: 0;
    font-size: 24px;
  }

  .skill-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    margin: auto;
  }
  .skill-grid i {
    border-radius: 1rem;
    display: block;
    padding: 0.5rem;
    margin: auto;
    width: 64px;
    height: 64px;
    font-size: 48px;
  }

  .skill-grid {
    background-color: var(--brand-background-slight);
    padding: 1rem;
    border-radius: 1rem;
  }

  .skill-grid > div {
    margin: auto;
    padding: 0.3rem;
  }
</style>

<div id="skills__content">
  <h3>Skills I Have</h3>
  <div class="skill-grid">
    <div>
      <i class="devicon-bash-plain colored"></i>
      <p>bash</p>
    </div>
    <div>
      <i class="devicon-discordjs-plain colored"></i>
      <p>discord.js</p>
    </div>
    <div>
      <i class="devicon-firefox-plain colored"></i>
      <p>firefox</p>
    </div>
    <div>
      <i class="devicon-git-plain colored"></i>
      <p>git</p>
    </div>
    <div>
      <i class="devicon-github-original colored"></i>
      <p>github</p>
    </div>
    <div>
      <i class="devicon-html5-plain colored"></i>
      <p>html</p>
    </div>
    <div>
      <i class="devicon-javascript-plain colored"></i>
      <p>javascript</p>
    </div>
    <div>
      <i class="devicon-jetbrains-plain colored"></i>
      <p>jetbrains</p>
    </div>
    <div>
      <i class="devicon-linux-plain colored"></i>
      <p>linux</p>
    </div>
    <div>
      <i class="devicon-markdown-original colored"></i>
      <p>markdown</p>
    </div>
    <div>
      <i class="devicon-nodejs-plain colored"></i>
      <p>node.js</p>
    </div>
    <div>
      <i class="devicon-npm-original-wordmark colored"></i>
      <p>npm</p>
    </div>
    <div>
      <i class="devicon-python-plain colored"></i>
      <p>python</p>
    </div>
    <div>
      <i class="devicon-typescript-plain colored"></i>
      <p>typescript</p>
    </div>
    <div>
      <i class="devicon-ubuntu-plain colored"></i>
      <p>ubuntu</p>
    </div><div>
      <i class="devicon-vscode-plain colored"></i>
      <p>vscode</p>
    </div>
  </div>
</div>
