---
---

<style>
	#skills__content > h3 {
		margin: 0;
		font-size: 24px;
	}

	.skill-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
		margin: auto;
	}
	.skill-grid i {
		border-radius: 1rem;
		display: block;
		padding: 0.5rem;
		margin: auto;
		width: 64px;
		height: 64px;
		font-size: 48px;
	}

	.skill-grid {
		background-color: var(--brand-background-slight);
		padding: 1rem;
		border-radius: 1rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.skill-grid > div {
		margin: 0.5rem;
		padding: 0.3rem;
		color: var(--brand-text);
	}
</style>

<div id="skills__content">
	<h2>Skills I Have</h2>
	<div class="skill-grid">
		<div>
			<i class="devicon-bash-plain"></i>
			<p>bash</p>
		</div>
		<div>
			<i class="devicon-discordjs-plain"></i>
			<p>discord.js</p>
		</div>
		<div>
			<i class="devicon-git-plain"></i>
			<p>git</p>
		</div>
		<div>
			<i class="devicon-github-original"></i>
			<p>github</p>
		</div>
		<div>
			<i class="devicon-html5-plain"></i>
			<p>html</p>
		</div>
		<div>
			<i class="devicon-javascript-plain"></i>
			<p>javascript</p>
		</div>
		<div>
			<i class="devicon-jetbrains-plain"></i>
			<p>jetbrains</p>
		</div>
		<div>
			<i class="devicon-linux-plain"></i>
			<p>linux</p>
		</div>
		<div>
			<i class="devicon-markdown-original"></i>
			<p>markdown</p>
		</div>
		<div>
			<i class="devicon-nodejs-plain"></i>
			<p>node.js</p>
		</div>
		<div>
			<i class="devicon-npm-original-wordmark"></i>
			<p>npm</p>
		</div>
		<div>
			<i class="devicon-podman-plain"></i>
			<p>podman</p>
		</div>
		<div>
			<i class="devicon-typescript-plain"></i>
			<p>typescript</p>
		</div>
		<div>
			<i class="devicon-ubuntu-plain"></i>
			<p>ubuntu</p>
		</div><div>
			<i class="devicon-vscode-plain"></i>
			<p>vscode</p>
		</div>
	</div>
</div>
