---

---

<div
  id="cookiePopup"
  class="fixed bottom-0 left-0 right-0 py-4 px-8 border-t-2 border-accent justify-between items-center hidden bg-popout"
>
  <p class="text-sm text-primary">
    I use cookies to improve your experience on this site. By continuing to use
    this site, you consent to my use of cookies. 🍪
  </p>
  <p class="text-sm text-primary">
    <a
      href="legal/privacy"
      class="text-primary rounded text-md border-2 border-dark-background py-2 px-4"
      >Learn more</a
    >
    <button
      id="acceptCookies"
      class="ml-4 py-2 px-4 text-primary rounded text-md border-2 border-dark-background"
      >Dismiss
    </button>
  </p>

  <script>
    function hasAcceptedCookies() {
      return localStorage.getItem('cookiesDismissed') === 'true';
    }

    function hideCookiePopup() {
      document.getElementById('cookiePopup').style.display = 'none';
    }

    function showCookiePopup() {
      document.getElementById('cookiePopup').style.display = 'flex';
    }

    function acceptCookies() {
      localStorage.setItem('cookiesDismissed', 'true');
      hideCookiePopup();
    }

    if (!hasAcceptedCookies()) {
      showCookiePopup();
    }

    document
      .getElementById('acceptCookies')
      .addEventListener('click', acceptCookies);
  </script>
</div>
