---

---

<div
  id="cookiePopup"
  class="fixed bottom-0 left-0 right-0 hidden items-center justify-between border-t-2 border-accent bg-popout px-8 py-4 max-sm:text-sm"
>
  <p class="text-sm text-primary max-sm:w-fit">
    I use cookies to improve your experience on this site. By continuing to use this site, you consent to my use of
    cookies. 🍪
  </p>
  <p class="flex flex-wrap text-sm text-primary">
    <a
      href="/legal/privacy"
      class="text-md border-dark-background rounded border-2 px-4 py-2 text-primary"
      rel="prefetch-intent">Learn more</a
    >
    <button id="acceptCookies" class="text-md border-dark-background ml-4 rounded border-2 px-4 py-2 text-primary"
      >Dismiss
    </button>
  </p>

  <script>
    function hasAcceptedCookies() {
      return localStorage.getItem('cookiesDismissed') === 'true';
    }

    function hideCookiePopup() {
      document.getElementById('cookiePopup').style.display = 'none';
    }

    function showCookiePopup() {
      document.getElementById('cookiePopup').style.display = 'flex';
    }

    function acceptCookies() {
      localStorage.setItem('cookiesDismissed', 'true');
      hideCookiePopup();
    }

    if (!hasAcceptedCookies()) {
      showCookiePopup();
    }

    document.getElementById('acceptCookies').addEventListener('click', acceptCookies);
  </script>
</div>
