---

---

<div class="mx-auto w-fit rounded-md border-2 border-accent bg-background px-8 py-1">
  <div class="my-1.5 flex flex-wrap justify-center">
    <a
      aria-label="Portfolio Icon"
      href="https://aura.is-a.dev/"
      target="_blank"
      class="mx-1.5 text-primary hover:text-gray-300"
    >
      <i class="fa-solid fa-globe"></i>
    </a>
    <a
      aria-label="GitHub Icon"
      href="https://github.com/auravoid"
      target="_blank"
      class="mx-1.5 text-primary hover:text-gray-300"
    >
      <i class="fa-brands fa-github"></i>
    </a>
    <a
      aria-label="Discord Icon"
      href="https://discord.gg/uDzYJBHT6P"
      target="_blank"
      class="mx-1.5 text-primary hover:text-gray-300"
    >
      <i class="fa-brands fa-discord"></i>
    </a>
    <a
      aria-label="Mastodon"
      href="https://wetdry.world/@aura"
      rel="me"
      target="_blank"
      class="mx-1.5 text-primary hover:text-gray-300"
    >
      <i class="fa-brands fa-mastodon"></i>
    </a>
  </div>
  <p class="my-0.5 text-center text-primary">&copy; {new Date().getFullYear()} auravoid</p>
</div>
