---
---

<style>
  #navbar {
    position: relative;
    z-index: 100;
    background-color: var(--brand-background);
    border-bottom: var(--brand-text) 3px solid;
    padding: 0.5em;
  }
  i.nav__img {
    font-size: 1.4rem;
    color: var(--brand-text);
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }

  .nav__link {
    position: relative;
    display: inline-block;
  }

  .nav__about {
    visibility: hidden;
    width: 128px;
    background-color: var(--brand-background-light);
    color: var(--brand-text);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 10;
    bottom: -175%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    border: 1px solid var(--brand-text);
  }

  .nav__link:hover .nav__about {
    visibility: visible;
    opacity: 1;
  }

  .theme__toggle {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5em 0;
  }

  .theme__toggle:hover {
    cursor: pointer;
  }
</style>
<script>
  import { changeTheme } from "../scripts/main.js";

  document.getElementById("toggle").addEventListener("click", changeTheme);
</script>

<div id="navbar">
  <a class="nav__link" href="/" aria-label="Home button">
    <span class="nav__about">Home</span>
    <i class="fas fa-home nav__img"></i>
  </a>
  <a class="nav__link" href="https://auravoid.moe" aria-label="Blog button">
    <span class="nav__about">Blog</span>
    <i class="fas fa-comment nav__img"></i>
  </a>
  <a class="nav__link" href="/support" aria-label="General support button">
    <span class="nav__about">Support</span>
    <i class="fas fa-question-circle nav__img"></i>
  </a>
  <div class="theme__toggle" id="toggle">
    <i class="fas fa-moon nav__img"></i>
  </div>
</div>
