---

---

<div class="mx-auto mb-4 w-2/5 rounded-md border-2 border-accent bg-background px-8 py-1 max-sm:w-4/5">
  <div class="my-1.5 flex flex-wrap justify-evenly">
    <a
      aria-label="Home icon"
      href="/"
      rel="prefetch"
      target="_self"
      class="mx-2 text-xl text-primary hover:text-gray-300"
    >
      <i class="fa-solid fa-house"></i>
    </a>
    <a
      aria-label="Support icon"
      href="/about"
      rel="prefetch"
      target="_self"
      class="mx-2 text-xl text-primary hover:text-gray-300"
    >
      <i class="fa-solid fa-list-check"></i>
    </a>
    <a
      aria-label="Legal icon"
      href="/legal"
      rel="prefetch"
      target="_self"
      class="mx-2 text-xl text-primary hover:text-gray-300"
    >
      <i class="fa-solid fa-file-lines"></i>
    </a>
  </div>
</div>
