---
---

<style>
	#background__animation {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -100;
	}
</style>
<script src="/particles.js" is:inline></script>
<div id="background__animation"></div>
<script>
	import { setParticles } from "../scripts/main.js"
	console.info(
		"Particles: https://github.com/VincentGarreau/particles.js/\nUsing a modified version by @Saturate"
	)
	window.addEventListener("load", setParticles)
</script>
