---
import WebRing from '@components/WebRing.astro';
---

<div class="mx-auto mb-4 flex w-1/2 flex-wrap justify-center gap-x-1 py-2 max-sm:w-5/6">
  <WebRing name="chloe" link="https://sapphic.moe/" image="https://cdn.auravoid.dev/webring/sapphic.png" />
  <WebRing name="kot" link="https://yukata.dev/" image="https://cdn.auravoid.dev/webring/kot.png" />
  <WebRing name="lewi" link="https://lewisakura.moe/" image="https://cdn.auravoid.dev/webring/lewi.png" />
  <WebRing name="megu" link="https://megu.dev" image="https://cdn.auravoid.dev/webring/megu.png" />
  <WebRing name="ovy" link="https://ovyerus.com" image="https://cdn.auravoid.dev/webring/ovyerus.png" />
  <WebRing name="snoot" link="https://joscomputing.space/" image="https://cdn.auravoid.dev/webring/spotlight.gif" />
  <WebRing name="ven" link="https://vendicated.dev" image="https://cdn.auravoid.dev/webring/ven.png" />
  <WebRing name="yui" link="https://zptr.cc/" image="https://cdn.auravoid.dev/webring/zptr.gif" />
  <WebRing name="ziad" link="https://ziad87.net" image="https://cdn.auravoid.dev/webring/ziad87.gif" />
</div>
