---
import SponsorHead from '@components/SponsorHead.astro';
---

<h2 class="mb-6 text-center text-2xl font-bold">Sponsors</h2>
<div class="flex flex-wrap justify-center">
  <SponsorHead user="kotx" link="https://yukata.dev/" avatar="https://avatars.githubusercontent.com/kotx" />
  <SponsorHead
    user="floatingmilkshake"
    link="https://floatingmilkshake.com/"
    avatar="https://avatars.githubusercontent.com/floatingmilkshake"
  />
</div>
<p class="my-2 text-center underline">
  <a href="https://github.com/sponsors/auravoid/" rel="noopener" target="_blank">Become a Sponsor on GitHub!</a>
</p>
