---
export interface Sponsor {
  user: string;
  link: string;
  avatar: string;
}
const { user, link, avatar } = Astro.props as Sponsor;
---

<div class="mx-4 w-16">
  <a href={link} rel="noopener" target="_blank">
    <img alt={user} src={avatar} class="rounded-full w-16" />
  </a>
</div>
