---
import BaseHead from '@components/BaseHead.astro';
import ParticlesBackground from '@components/Particles.astro';
import Footer from '@components/Footer.astro';
import Navigation from '@components/Navigation.astro';

interface LegalPage {
  frontmatter: {
    title: string;
    description: string;
    updated: string;
  };
}

let { frontmatter } = Astro.props as LegalPage;

const date = new Date(frontmatter.updated);
const formattedDate = date.toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
  timeZone: 'UTC',
});

frontmatter.updated = formattedDate;
---

<html lang="en-US">
  <BaseHead title={frontmatter.title + ' | aura'} description={frontmatter.description} />
  <body class="bg-background text-primary">
    <ParticlesBackground />
    <div
      class="container mx-auto my-16 rounded-md border-2 border-accent bg-island px-12 py-4 max-sm:m-0 max-sm:w-full max-sm:rounded-none md:w-4/5 lg:w-1/2"
    >
      <Navigation />
      <h1 class="mb-4 text-center text-5xl font-bold">{frontmatter.title}</h1>
      <p class="mb-4 text-sm">Last updated: {frontmatter.updated}</p>
      <hr class="mb-4 rounded-md border-accent" />
      <div class="prose pb-8">
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
