---
const { frontmatter } = Astro.props;
import Head from "../components/Head.astro";
import NavBar from "../components/NavBar.astro";
import Particles from "../components/Particles.astro";
import "../styles/markdown.css";
---

<html lang="en">
  <head>
    <Head
      title={frontmatter.title}
      description={frontmatter.description}
      color="#feb9db"
    />
  </head>
  <body>
    <Particles />
    <div id="home-page">
      <NavBar />
      <div id="text" class="body-box">
        <slot />
      </div>
    </div>
  </body>
</html>
