---
let server = {
  link: "https://discord.gg/invite",
};
---

<div id="about-bot">
  <img alt="Bot Icon" class="icon" src="/bot-icon.webp" />

  <h1>About Ai Ohto</h1>
  <h2>What is Ai Ohto?</h2>
  <p>
    Ai Ohto is a Discord bot that is designed to be a fun and useful bot for
    your server. It has a wide variety of commands, and is constantly being
    updated with new features.
  </p>
  <h2>How do I invite Ai Ohto to my server?</h2>
  <p>
    You can invite Ai Ohto to your server by clicking <a
      href="https://discord.com/api/oauth2/authorize?client_id=847427963032174613&permissions=388160&scope=bot%20applications.commands"
      target="_blank">here</a
    >.
  </p>
  <h2>How do I use Ai Ohto?</h2>
  <p>
    For a list of all of Ai Ohto's commands, use <span class="mention"
      >/commands</span
    >.
  </p>
  <h2>How do I get support for Ai Ohto?</h2>
  <p>
    You can get support for Ai Ohto by joining the <a href={server.link}
      >support server</a
    >.
  </p>
  <h2>How do I report a bug or request a feature?</h2>
  <p>
    You can report a bug or suggest a feature by joining the <a
      href={server.link}>support server</a
    > and using the
    <span class="mention">/feedback</span>
    command.
  </p>
  <h2>How do I get updates on Ai Ohto?</h2>
  <p>
    You can get updates on Ai Ohto by joining the <a href={server.link}
      >support server</a
    >.
  </p>
</div>
