---
---

<style>
  #bot-footer {
    padding-top: 64px;
  }
</style>

<div id="bot-footer">
  <p>
    The character "Ai Ohto" is from the anime "Wonder Egg Priority" produced by
    CloverWorks.
  </p>
  <p>
    © 2022 auravoid#6669. Made with <i class="fa fa-heart"></i> and <i
      class="fa-brands fa-node-js"></i>.
  </p>
</div>
