---
---

<style>
  #bot-footer {
    padding-top: 64px;
  }
</style>

<div id="bot-footer">
  <p>
    The character "Ai Ohto" is from the anime "Wonder Egg Priority" produced by
    CloverWorks.
  </p>
  <p>
    &copy; {new Date().getFullYear()} auravoid. Made with
    <i class="fa fa-heart"></i> for <i class="fa-brands fa-discord"></i> with <i
      class="fa-brands fa-node-js"></i>.
  </p>
</div>
