---
---

<div id="bot-header">
  <a class="whatthis" href="/">
    <span class="thisis">Site Home</span>
    <i class="fas fa-home"></i>
  </a>
  <a class="whatthis" href="/ai-ohto">
    <span class="thisis">Ai Ohto</span>
    <i class="fas fa-robot"></i>
  </a>
  <a class="whatthis" href="/support">
    <span class="thisis">Support</span>
    <i class="fas fa-question-circle"></i>
  </a>
</div>
