---
---

<style>
	#navbar {
		position: relative;
		z-index: 100;
		padding: 0.5em;
		justify-content: space-evenly;
		display: flex;
		margin-bottom: 1em;
	}

	i.nav__img {
		font-size: 1.4rem;
		padding-right: 2.5rem;
		padding-left: 2.5rem;
	}

	.nav__link {
		position: relative;
		display: inline-block;
	}
	.nav__about {
		visibility: hidden;
		width: 128px;
		background-color: #18191c;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
		position: absolute;
		z-index: 1000;
		bottom: -175%;
		left: 50%;
		margin-left: -60px;
		opacity: 0;
		transition: opacity 0.3s;
	}

	.nav__link:hover .nav__about {
		visibility: visible;
		opacity: 1;
	}
</style>

<div id="navbar">
	<a class="nav__link" href="/">
		<span class="nav__about">Home</span>
		<i class="fas fa-home nav__img"></i>
	</a>
	<a class="nav__link" href="https://auravoid.moe">
		<span class="nav__about">Blog</span>
		<i class="fas fa-comment nav__img"></i>
	</a>
	<a class="nav__link" href="/support">
		<span class="nav__about">Support</span>
		<i class="fas fa-question-circle nav__img"></i>
	</a>
</div>
