---
const base = "https://cors.auravoid.dev/";
const commands = await fetch(
  base + "https://cdn.auravoid.dev/data/commands.json",
  {
    method: "GET",
    headers: {
      "Content-Type": "application/json",
      "x-requested-with": "fetch",
    },
  }
).then((res) => res.json());

if (commands["Menu"]) {
  delete commands["Menu"];
}
---

<style>
  .category-name {
    font-size: 1.5rem;
    font-weight: 600;
    width: 72%;
  }
</style>

<div>
  <div id="commands">
    {
      Object.entries(commands).map(([key]) => (
        <table id="command-list">
          <thead>
            <tr>
              <h2 class="category-name">{key}</h2>
            </tr>
          </thead>

          <tr>
            <td>
              <h3>Command</h3>
            </td>
            <th>
              <h3>Description</h3>
            </th>
          </tr>

          {Object.entries(commands[key]).map(([id]) => (
            <tr>
              <td class="command-name">
                <span class="mention">/{commands[key][id].name}</span>
              </td>
              <td class="command-description">
                {commands[key][id].description}
              </td>
            </tr>
          ))}
        </table>
      ))
    }
  </div>
</div>
